/* BuildGraphStyles.uss */

.node {
    min-width: 150px;
    background-color: #2b2b2b;
}

.title {
    /* 确保使用 Flex 布局 */
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: #3e3e3e;
    min-height: 30px;
    padding-left: 6px;
    padding-right: 6px;
}

/* 输入框样式 */
TextField {
    margin: 4px;
}

Button {
    margin: 4px;
    background-color: #555;
}